:host {
    display: block;

    .container {
        display: inline-block;
        width: 10%;
        position: relative;
        left: 0;
        transition: "left ";
        img {
            width: 100%;
        }
    }
}